/* Taustaväri ja yleinen asettelu */
.custom-bg {
  background: linear-gradient(to right, #3b4a67, #2c3e50);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-heading {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-subheading {
  font-size: 1.75rem;
  color: #4b5d73;
  font-family: 'Arial', sans-serif;
}

.custom-card {
  border-radius: 16px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-outline-primary {
  color: #3498db;
  border-color: #3498db;
}

.btn-outline-primary:hover {
  background-color: #3498db;
  color: white;
}

.btn-outline-danger {
  color: #e74c3c;
  border-color: #e74c3c;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
  color: white;
}

.btn-outline-warning {
  color: #f39c12;
  border-color: #f39c12;
}

.btn-outline-warning:hover {
  background-color: #f39c12;
  color: white;
}

.card p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
}
