# Node modules
node_modules/

# Environment config
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-järjestelmätiedostot
.DS_Store
Thumbs.db

# Optional VSCODE workspace config
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
